
<% if @over_ten %>
  <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class="ui minimal comments">
<h3 class="ui dividing header">Messages</h3>
  <div class="comment">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="content">
          <a class="avatar">
            <img src="http://avchiropractichealthcenter.com/wp-content/uploads/2015/05/AVC.Running.jpg">
          </a>
        </div>
        <a class="author"><%= user.username %></a>
        <div class="metadata">
          <span class="date">Today at <%= message.message_time %></span>
        </div>
        <div class="text">
          <%= message.body %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<%= form_for [@chatroom, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>

  <div>
    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
  </div>
<% end %>
