
<div class="event-show-wrapper">
  <section class="event-show-header">
    <h2><%= @event.title %></h2>
  </section>

  <section class="event-show-body">
    <p>Location: <%= @event.location %></p>
    <p>About the Event: <%= @event.description %></p>
    <p>Difficulty: <%= @event.difficulty %></p>
    <p>Date Posted: <%= @event.date %></p>
    <p>Cost: <%= @event.cost %></p>
    <p>Additional Information: <%= @event.additional_information %></p>

    <form action="/registrations" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="event_id" value="<%= @event.id %>">
      <button class="ui green button">Register</button>
    </form>
  </section>

  <section class="event-show-registrations">
    <h2>Who's Going So Far?</h2>
    <div class="event-registrations-card">
      <% @user_rsvp.each do |user| %>
        <h3><%= user.username %></h3>
      <% end %>
    </div>
  </section>
</div>
