
<div class="ui pointing menu">
  <a href="/events" class="item logo">Fitafly</a>

  <!-- Menu for logged in users -->
  <% if logged_in? %>
    <a href="/events" class="item nav-link">Events</a>
    <a class="item nav-link">Messages</a>
    <div class="ui dropdown link item">
      <span class="text nav-link"><%= current_user.username %></span>
      <i class="dropdown icon"></i>
      <div class="menu transition hidden">
        <a href="/users/<%= current_user.id %>" class="item nav-link">My Activities</a>
        <a href="/users/<%= current_user.id %>/edit" class="item nav-link">Account Details</a>
        <div class="divider"></div>
        <div class="item">
          <%= form_tag("/logout", method: "delete") do %>
            <button class="ui blue button">Log out <%= current_user['name'] %></button>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <a href="/users/new" class="item nav-link">Sign Up</a>
    <a href="/login" class="item nav-link">Login</a>
  <% end %>
</div>

<script>
  // initialising the semantic ui dropdown menu
  $(document).ready(function() {
      $('.ui.dropdown').dropdown();
  });
</script>
